body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.inputBox {
    height: 50px;
    width: 200px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.numBtn, .operator {
    background-color: grey;
    width: 50px;
    height: 50px;
    font-size: large;
}

.numBtn:hover {
    background-color: lightgrey;
}
.operator:hover {
    background-color: lightgrey;
}