@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}
.left {
    flex: 1;
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}
.left .banner {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
}
.banner{
    font-family: Norse-Bold, sans-serif;
    font-size: 24px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* space between image and text */
}
.logo {
  width: 100px;
  height: auto;
}
.logo-text {
  font-family: Norse-Bold, sans-serif;
  font-size: 90px;
  color: white;
}
.right {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.right p {
    font-style: italic;
    margin-bottom: 20px;
}
.right h2 {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form-row {
    display: flex;
    gap: 20px;
}
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.form-row.form-group.full-width{
    flex-direction: column;
}
.form-group.full-width {
    flex: 1 1 100%;
}
#create-account-btn {
    grid-column: span 2;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    margin-top: 20px;
}
#create-account-btn:hover {
    background-color: #45a049;
}
form a {
    grid-column: span 2;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
    text-align: center;
}
form a:hover {
    text-decoration: underline;
}
.photo-credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  opacity: 0.7;
  font-style: italic;
  transform: translateX(50%);
}